@media all and (min-width: 769px) {
    .responses-index-view {
        position: absolute;
        top: 160px;
        left: 0;
        bottom: 0;
        width: 25%;
        padding: 20px;
        max-height: 100vh;
        overflow: hidden;
        background-color: #fff;
        -webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.14);
        -moz-box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.14);
        box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.14);
    }

    .response-outer {
        width: 100%;
        overflow-y: scroll;
        height: 500px;
        margin-right: -50px;
        padding-right: 50px;
    }

    .response-outer::-webkit-scrollbar {
        display: none;
    }

    .response-inner {
        position: relative;
        width: 95%;
        height: 80px;
        margin: 0 auto;
        padding-top: 30px;
        cursor: pointer;
    }

    .response-inner p {
        font-size: 16px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: 1.5px;
    }

    .profile-img {
        position: absolute;
        top: 6px;
        left: 10px;
        width: 90px;
        border-radius: 50%;
    }

    .upload-inner {
        padding-top: 175px;
    }

    .add-btn {
        width: 44px;
        height: 44px;
        background-color: lightgray;
        color: #fff;
        border-radius: 50%;
        cursor: pointer;
    }

    .add-btn:hover {
        -webkit-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.26),
        0 3px 11px rgba(0, 0, 0, 0.22);
        -moz-box-shadow: 0 3px 18px rgba(0, 0, 0, 0.26),
        0 3px 11px rgba(0, 0, 0, 0.22);
        box-shadow: 0 3px 18px rgba(0, 0, 0, 0.26),
        0 3px 11px rgba(0, 0, 0, 0.22);
    }

    button:focus {
        outline: 0;
    }
}

@media all and (max-width: 768px) {
    .responses-index-view {
        display: none;
    }
}

.loader-sidebar-container {
    position: absolute;
    width: 100%;
    background-color: #fff;
    z-index: 10;
}

.loader-sidebar-container svg {
    z-index: 1;
    margin-right: 50px;
    fill: rgb(206, 20, 75);
    animation: hideshow 3s ease infinite;
}

@keyframes hideshow {
    50% {
        opacity: 1;
        fill: #1d2671;
    }

    100% {
        opacity: 1;
        fill: rgb(206, 20, 75);
    }
}