.responses-index-view {
    position: absolute;
    top: 160px;
    left: 0;
    bottom: 0;
    width: 25%;
    padding: 20px;
    max-height: 100vh;
    overflow: hidden;
    background-color: #fff;
}

.response-outer {
    width: 100%;
    overflow-y: scroll;
    height: 500px;
    margin-right: -50px;
    padding-right: 50px;
}

.response-outer::-webkit-scrollbar{
    display: none;
}

.response-inner {
    position: relative;
    width: 95%;
    height: 80px;
    margin: 0 auto;
    padding-top: 30px;
}

.response-inner p {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 1.5px;
}

.profile-img {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 90px;
    border-radius: 50%;
}