.login-form-box {
  margin: auto;
  width: 400px;
  padding: 25px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 8px;
  text-align: center;
  position: absolute;
  top: 0;
  margin-top: 50px;
  left: 0;
  right: 0;
  z-index: 0;
}

.signup-message {
  font-size: 25px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #c33764;
}

.login-message {
  font-size: 25px;
  font-family: 'Roboto',
    sans-serif;
  font-weight: bolder;
  font-style: italic;
  color: #c33764;
}

.login-input {
  background: transparent;
  border-bottom: 2px solid lightgray;
  height: 20px;
}

input[type=date] {
  color: lightgray;
}

.session-submit {
  background-color: #c33764;
  color: white;
  text-decoration: none;
  font-size: 15px;
  margin-top: 30px;
  transition-duration: 0.1s;
  padding: 10px 90px;
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid #c33764;
  cursor: pointer;
}

.guest-submit {
  background-color: #c33764;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  transition-duration: 0.1s;
  border-radius: 5px;
  margin-top: 30px;
  border: 1px solid #c33764;
}

.session-submit:hover {
  color: #c33764;
  background: none;
}

.guest-submit:hover {
  color: #c33764;
  background: none;
}

.radio {
  display: inline-block;
  position: relative;
  padding: 0 6px;
  margin: 10px 0 0;
}

.radio input[type='radio'] {
  display: none;
}

.radio label {
  color: #232323;
  font-weight: normal;
}

.radio label:before {
  content: " ";
  display: inline-block;
  position: relative;
  top: 5px;
  margin: 0 5px 0 0;
  width: 20px;
  height: 20px;
  border-radius: 11px;
  border: 2px solid #c33764;
  background-color: transparent;
}

.radio input[type=radio]:checked+label:after {
  border-radius: 11px;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 11px;
  left: 12px;
  content: " ";
  display: block;
  background: #c33764;
}

/* .session-continue {
  margin-top: 600px;
} */